main {
	background: silver;
}

footer {
	background: gray;
}

footer section#kontakt {
	background: green;
}

footer section#mapa {
	background: orange;
}

footer section#oswiadczenie {
	background: yellow;
}

.button {
	background: #001fcf;
	color: white;
}

.button:hover, #loginbuttonshow:hover  {
	opacity: 0.7;
	cursor: pointer;
}

#tmp {
	background: orange;
}

#loginbuttonshow {
	background: #0000CF;
	color: white;
}

#createaccount {
	color: blue;
}