* {
	box-sizing: border-box;
}

html, body {
	margin: 0 !important;
	padding: 0 !important;
}

nav {
	display: flex;
}

.button {
	width: calc( 100% / 3); /*33.33333333333%;*/
	height: 5vh;
	text-align: center;
	font-size: 3vh;
	overflow: hidden;
	padding-top: calc( (5vh - 3vh) / 2);
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}



main {
	display: flex;
}

header h1 {
	text-align: center;
}

#loginform {
	height: 0;
	overflow:hidden;
	transition: height 1s;
}

#loginbuttonm {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	
}

#loginbuttonshow {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	overflow: hidden;
	position: relative;
}
#loginbuttonshow p {
	display: inline-block;
	margin: 0;	
	
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#loginbuttonshow p.loginbuttonarrow {
	
	position: relative;
	top:-5px;
	transform: rotate3d(0,0,1,180deg);
	transition: all 1s;
}

main section {
	display: none;
	width: 0;
}

main section#content {
	display: block;
	width:100%;
}

main aside {
	display: none;
	width: 0;
}

footer {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 1fr);
}

footer section#kontakt {
	grid-row: 1 / 3;
	grid-column: 1;
}

footer section#mapa {
	grid-column: 2;
	grid-row: 1;
}

footer section#oswiadczenie {
	grid-row: 2;
	grid-column: 2;
	
}

#tmp img {
	position: absolute;
	width:100%;
	height:100%;
	/*clip: rect(0px, 50px, 100px, 100px);*/
}

#tmp {
	position:relative;
	width:80%;
	height:200px;
	margin: 5px auto;
	/*clip: rect(50px, 50px, 50px, 50px);*/
}

#createaccount {
	cursor: pointer;
	text-decoration: underline;
}