<div id="registerform">
	<div><input type="text" name="imie" placeholder="Podaj swoje imię"/></div>
	<div><input type="text" name="nazwisko" placeholder="Podaj swoje nazwisko"/></div>
	<div><select name="dowod"></select></div>
	<div><input type="text" name="id_dowod_tozsamosc" placeholder="Numer"/></div>
	<div><input type="radio" name="plec" value="m"/><label>mężczyzna</label></div>
	<div><input type="radio" name="plec" value="k"/><label>kobieta</label></div>
	<div><input type="radio" name="plec" value="n"/><label>niesprecyzowane</label></div>
	<div><input type="text" name="email" placeholder="Podaj adres poczty elektronicznej"/></div>
	<div><input type="text" name="telefon" placeholder="Podaj numer telefonu"/></div>
	<div><input type="text" name="login" placeholder="Podaj indywidualny login (nieobowiązkowy)"/></div>
	<div><input type="password" name="haslo" placeholder="Wpisz hasło"/></div>
	<div><input type="password" name="rehaslo" placeholder="Wpisz ponownie hasło"/></div>
	<div><button>Zarejestruj</button><button>Wyczyść dane</button></div>
</div>
